{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_goback %}
<a class="navbar-brand" href="{% url 'homepage' %}">Strona główna</a>
{% endblock navbar_goback %}

{% block navbar %}
{% endblock %}

{% block header %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src={% static "fancybox/jquery.fancybox-1.3.4.pack.js" %}></script>
<script type="text/javascript" src={% static "fancybox/jquery.easing-1.4.pack.js" %}></script>  
<script type="text/javascript" src={% static "fancybox/jquery.mousewheel-3.0.4.pack.js" %}></script>
<link rel="stylesheet" href={% static "fancybox/jquery.fancybox-1.3.4.css" %} type="text/css" media="screen" />

<script type="text/javascript">
    $(document).ready(function () {
        $("a.grouped_elements").fancybox({
            'titleFromAlt' : true,
            'titlePosition': 'over',

        });
    });
</script>
{% endblock %}


{% block content %}
   <section class="Ad">
        <center>
            {% for i in images %}
            <a class="grouped_elements" rel="group1" href="{% static i.image_file.url %}">
                <img src="{% static i.image_file.url %}" height="200" width="300" alt="{{i.name}}"/>
            </a>
            {% endfor %}

        </center>
    </section>




{% endblock %}
