{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}<!-- Collect the nav links, forms, and other content for toggling -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Wróć do początku</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="page-scroll" href="#about">Dzień Otwarty 2017</a>
        </li>
        <li>
            <a class="page-scroll" href="#services">Oferta</a>
        </li>
        <li>
            <a class="page-scroll" href="{% url 'gallery' %}">Galeria</a>
        </li>
        <li>
            <a class="page-scroll" href="#contact">Kontakt</a>
        </li>
		<li>
			<a href="{% url 'registration_register' %}">Zajerestruj</a>
		</li>
		<li>
			<a href="{% url 'auth_login' %}">Login</a>
		</li>
    </ul>
</div>
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- /.navbar-collapse -->
{% endblock %}
{% block header %}
<header>
<div class="header-content">
    <div class="header-content-inner">
        <h1 style="color:#003366">Dzień Wydziału Matematyki i Informatyki Uniwersytetu Jagiellońskiego</h1>
        <hr>
        </div>
    <a href="#about" class="btn btn-primary btn-xl page-scroll">Dowiedz się więcej</a>

</div>
</header>
{% endblock %}
{% block content %}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dzień otwarty WMiI 2017!</h2>
                <hr class="light">
                <p class="text-faded">Drodzy uczniowie i nauczyciele. Z przyjemnością pragniemy zaprosić wszystkich zainteresowanych do udziału w dniu otwartym naszego wydziału, który odbędzie się 15 marca 2017 roku. Zachęcamy również do zapoznania się z ofertą warsztatów i wykładów jakie są zaplanowane dla uczestników. Liczymy każdy znajdzie coś dla siebie.</p>
                <a href="{% url 'program' %}" class="page-scroll btn btn-default btn-xl">Zapoznaj się ze szczegółami!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dzień Otwarty WMiI UJ</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Wykłady i warsztaty</h3>
                    <p class="text-muted">Zapoznaj się z tematami wykładów i warsztatów jakie zostały przygotowane specjalnie na Dzień Otwarty.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Wykładowcy</h3>
                    <p class="text-muted">Dowiedz się więcej na temat pracowników naszego wydziału, którzy poprowadzą w tym roku zajęcia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Lista sal</h3>
                    <p class="text-muted">Plan wydziału oraz lista sal, w których odbędą się zajęcia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Dodatkowe atrakcje</h3>
                    <p class="text-muted">Sprawdź co jeszcze przygotowaliśmy dla Ciebie!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src={% static "img/Samples/1.jpg" %} class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <h3>Biblioteka</h3>
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src={% static "img/Samples/2.jpg" %} class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <h3>Sale wykładowe</h3>
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src={%static "img/Samples/3.jpg" %} class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <h3>Wydarzenia</h3>
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src={% static "img/Samples/4.jpg" %} class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <h3>Budynek</h3>
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src={% static "img/Samples/5.jpg" %} class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src={% static "img/Samples/6.jpg" %} class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <h3>Sławy UJ</h3>
                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
