{% extends 'base.html' %}

{% block navbar_goback %}
<a class="navbar-brand" href="{% url 'program' %}">Program</a>
{% endblock navbar_goback %}

{% block content %}
<section class="Ad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ lecturer.degree }} {{ lecturer }}</h2>
                <p class="text-justify">
                    {{ lecturer.info }}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
