{% extends "base.html" %}

{% block navbar_goback %}
<a class="navbar-brand" href="{% url "home.views.index" %}">Strona główna</a>
{% endblock navbar_goback %}

{% block navbar %}
<li>
    <a href="{% url 'visitorgroup_new' %}">Nowa grupa</a>
</li>
<li>
    <a href="{% url 'program' %}">Program</a>
</li>
{% endblock navbar %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <tr>
                        <th>Numer</th>
                        <th>Profil</th>
                        <th>Grupa zajęciowa</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                    {% for visitorgroup in visitorgroups %}
                    <tr> 
                        <td>{{ visitorgroup.id }}</td>
                        <td>{{ visitorgroup.profile }}</td>
                        <td>{{ visitorgroup.assigned_group }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'visitorgroup_edit' visitorgroup.id %}">Edytuj</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'visitorgroup_delete' visitorgroup.id %}">Usuń</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
