{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
<section>
<div class='col-sm-6 col-sm-offset-3'>
<center><h2>Sprawdź swoją skrzynkę mailową w celu zakończenia rejestracji.</h2></center>
</div>
</section>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}